body {
    background-color: antiquewhite;
}

.darwin {
    width: 100%;
    height: 100%;
}


.darwin>.text>* {
    display: flex;
    justify-content: center;
    color: #1a1a1a;
    font-family: "Old Standard TT", serif;
    font-weight: lighter;
    text-transform: uppercase;
}

.darwin>.text>h1 {
    font-size: 55px;
}

.darwin>.text>h3 {
    font-size: 30px;
}

.darwin>.text>h5 {
    font-size: 20px;
}

.darwin>.text>.on {
    padding-top: 15px;
}

.darwin>.text>.by-means-of {
    padding-bottom: 110px;
}

.darwin>.text>.info {
    font-size: 15px;
    text-align: center;
}

.darwin>.text>.translation {
    margin-top: 20px;
    font-size: 12px;
    font-style: italic;
    text-transform: none;
}

