body {
    background-color: antiquewhite;
}

.species-paper>* {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #1a1a1a;
    font-family: "Old Standard TT", serif;
    font-weight: lighter;
    text-transform: uppercase;
}

.species-paper>h1 {
    font-size: 55px;
}

.species-paper>h3 {
    font-size: 30px;
}

.species-paper>h5 {
    font-size: 20px;
}

.species-paper>.on {
    padding-top: 10px;
}

.species-paper>.by-means-of {
    padding-bottom: 110px;
}

.species-paper>.credentials {
    font-size: 15px;
    text-align: center;
}

.species-paper>.translation {
    margin-top: 20px;
    font-size: 12px;
    font-style: italic;
    text-transform: none;
}

