.species-paper {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.species-paper>.front-cover>* {
    display: flex;
    justify-content: center;
    color: #1a1a1a;
    font-family: "Old Standard TT", serif;
    font-weight: lighter;
    text-transform: uppercase;
}

.species-paper>.front-cover>h1 {
    font-size: 55px;
}

.species-paper>.front-cover>h3 {
    font-size: 30px;
}

.species-paper>.front-cover>h5 {
    font-size: 20px;
}

.species-paper>.front-cover>.on {
    padding-top: 10px;
}

.species-paper>.front-cover>.by-means-of {
    padding-bottom: 110px;
}

.species-paper>.front-cover>.info {
    font-size: 15px;
    text-align: center;
}

.species-paper>.front-cover>.translation {
    margin-top: 20px;
    font-size: 12px;
    font-style: italic;
    text-transform: none;
}

